In [29]:
import pandas as pd
df = pd.read_csv('station_day_modified.csv')

In [30]:
df

,StationId,State,Year,Month,Day,Season,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,AQI,AQI_Bucket
0,AP001,Andhra Pradesh,2017,11,25,Northeast Monsoon,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,0.20,6.50,184.0,Moderate
1,AP001,Andhra Pradesh,2017,11,26,Northeast Monsoon,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,0.22,7.95,197.0,Moderate
2,AP001,Andhra Pradesh,2017,11,27,Northeast Monsoon,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,0.29,7.63,198.0,Moderate
3,AP001,Andhra Pradesh,2017,11,28,Northeast Monsoon,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,0.17,5.02,188.0,Moderate
4,AP001,Andhra Pradesh,2017,11,29,Northeast Monsoon,72.47,114.84,5.23,23.20,16.59,12.25,0.16,10.55,109.74,0.21,4.71,173.0,Moderate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87020,WB013,West Bengal,2020,6,27,Monsoon,8.65,16.46,NaN,NaN,NaN,NaN,0.69,4.36,30.59,1.32,7.26,50.0,Good
87021,WB013,West Bengal,2020,6,28,Monsoon,11.80,18.47,NaN,NaN,NaN,NaN,0.68,3.49,38.95,1.42,7.92,65.0,Satisfactory
87022,WB013,West Bengal,2020,6,29,Monsoon,18.60,32.26,13.65,200.87,214.20,11.40,0.78,5.12,38.17,3.52,8.64,63.0,Satisfactory
87023,WB013,West Bengal,2020,6,30,Monsoon,16.07,39.30,7.56,29.13,36.69,29.26,0.69,5.88,29.64,1.86,8.40,57.0,Satisfactory
87024,WB013,West Bengal,2020,7,1,Monsoon,10.50,36.50,7.78,22.50,30.25,27.23,0.58,2.80,13.10,1.31,7.39,59.0,Satisfactory

In [31]:
pollutant_cols = [
    'PM2.5','PM10','NO','NO2','NOx','NH3','CO','SO2','O3',
    'Benzene','Toluene']
df = df[~df[pollutant_cols].isna().all(axis=1)]
df = df.reset_index(drop=True)

In [32]:
df

,StationId,State,Year,Month,Day,Season,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,AQI,AQI_Bucket
0,AP001,Andhra Pradesh,2017,11,25,Northeast Monsoon,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,0.20,6.50,184.0,Moderate
1,AP001,Andhra Pradesh,2017,11,26,Northeast Monsoon,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,0.22,7.95,197.0,Moderate
2,AP001,Andhra Pradesh,2017,11,27,Northeast Monsoon,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,0.29,7.63,198.0,Moderate
3,AP001,Andhra Pradesh,2017,11,28,Northeast Monsoon,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,0.17,5.02,188.0,Moderate
4,AP001,Andhra Pradesh,2017,11,29,Northeast Monsoon,72.47,114.84,5.23,23.20,16.59,12.25,0.16,10.55,109.74,0.21,4.71,173.0,Moderate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86749,WB013,West Bengal,2020,6,27,Monsoon,8.65,16.46,NaN,NaN,NaN,NaN,0.69,4.36,30.59,1.32,7.26,50.0,Good
86750,WB013,West Bengal,2020,6,28,Monsoon,11.80,18.47,NaN,NaN,NaN,NaN,0.68,3.49,38.95,1.42,7.92,65.0,Satisfactory
86751,WB013,West Bengal,2020,6,29,Monsoon,18.60,32.26,13.65,200.87,214.20,11.40,0.78,5.12,38.17,3.52,8.64,63.0,Satisfactory
86752,WB013,West Bengal,2020,6,30,Monsoon,16.07,39.30,7.56,29.13,36.69,29.26,0.69,5.88,29.64,1.86,8.40,57.0,Satisfactory
86753,WB013,West Bengal,2020,7,1,Monsoon,10.50,36.50,7.78,22.50,30.25,27.23,0.58,2.80,13.10,1.31,7.39,59.0,Satisfactory

In [33]:
missing = df.isna().sum()
percent = (df.isna().sum() / len(df)) * 100

missing_table = pd.DataFrame({'Missing Values': missing,
                              'Percent (%)': percent})

missing_table

            Missing Values  Percent (%)
StationId                0     0.000000
State                    0     0.000000
Year                     0     0.000000
Month                    0     0.000000
Day                      0     0.000000
Season                   0     0.000000
PM2.5                 3217     3.708186
PM10                 23690    27.307098
NO                    1958     2.256956
NO2                   1295     1.492727
NOx                   4284     4.938101
NH3                  29561    34.074510
CO                    2625     3.025797
SO2                   9262    10.676165
O3                    9327    10.751089
Benzene              19516    22.495793
Toluene              26053    30.030892
AQI                      0     0.000000
AQI_Bucket               0     0.000000

In [34]:
df.drop(columns=['AQI_Bucket'])

,StationId,State,Year,Month,Day,Season,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,AQI
0,AP001,Andhra Pradesh,2017,11,25,Northeast Monsoon,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,0.20,6.50,184.0
1,AP001,Andhra Pradesh,2017,11,26,Northeast Monsoon,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,0.22,7.95,197.0
2,AP001,Andhra Pradesh,2017,11,27,Northeast Monsoon,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,0.29,7.63,198.0
3,AP001,Andhra Pradesh,2017,11,28,Northeast Monsoon,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,0.17,5.02,188.0
4,AP001,Andhra Pradesh,2017,11,29,Northeast Monsoon,72.47,114.84,5.23,23.20,16.59,12.25,0.16,10.55,109.74,0.21,4.71,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86749,WB013,West Bengal,2020,6,27,Monsoon,8.65,16.46,NaN,NaN,NaN,NaN,0.69,4.36,30.59,1.32,7.26,50.0
86750,WB013,West Bengal,2020,6,28,Monsoon,11.80,18.47,NaN,NaN,NaN,NaN,0.68,3.49,38.95,1.42,7.92,65.0
86751,WB013,West Bengal,2020,6,29,Monsoon,18.60,32.26,13.65,200.87,214.20,11.40,0.78,5.12,38.17,3.52,8.64,63.0
86752,WB013,West Bengal,2020,6,30,Monsoon,16.07,39.30,7.56,29.13,36.69,29.26,0.69,5.88,29.64,1.86,8.40,57.0
86753,WB013,West Bengal,2020,7,1,Monsoon,10.50,36.50,7.78,22.50,30.25,27.23,0.58,2.80,13.10,1.31,7.39,59.0

In [35]:
from sklearn.model_selection import train_test_split
X = df.drop(columns=['AQI','AQI_Bucket'])   
y = df['AQI']
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [36]:
pollutant_cols = [
    'PM2.5','NO','NO2','NOx','CO','SO2','O3',
    'Benzene','Toluene'
]

categorical_cols = ['StationId', 'State', 'Season']

In [37]:
# Calculate medians from TRAIN ONLY
medians = X_train[pollutant_cols].median()

# Apply to train
X_train[pollutant_cols] = X_train[pollutant_cols].fillna(medians)

# Apply SAME medians to test (NO FIT here!)
X_test[pollutant_cols]  = X_test[pollutant_cols].fillna(medians)

In [38]:
# Season median from TRAIN
season_PM10 = X_train.groupby(['State','Season'])['PM10'].median()
season_NH3  = X_train.groupby(['State','Season'])['NH3'].median()

# Apply to TRAIN
X_train['PM10'] = X_train.groupby(['State','Season'])['PM10'].transform(lambda x: x.fillna(x.median()))
X_train['NH3']  = X_train.groupby(['State','Season'])['NH3'].transform(lambda x: x.fillna(x.median()))

# Merge test with season medians
X_test = X_test.merge(season_PM10.rename('PM10_median'), on=['State','Season'], how='left')
X_test = X_test.merge(season_NH3.rename('NH3_median'), on=['State','Season'], how='left')

# Fill using season medians
X_test['PM10'] = X_test['PM10'].fillna(X_test['PM10_median'])
X_test['NH3']  = X_test['NH3'].fillna(X_test['NH3_median'])

# Drop helper cols
X_test.drop(columns=['PM10_median', 'NH3_median'], inplace=True)

# Final fallback to global median for missing State/Season combos
global_PM10 = X_train['PM10'].median()
global_NH3  = X_train['NH3'].median()

X_train['PM10'] = X_train['PM10'].fillna(global_PM10)
X_train['NH3']  = X_train['NH3'].fillna(global_NH3)

X_test['PM10'] = X_test['PM10'].fillna(global_PM10)
X_test['NH3']  = X_test['NH3'].fillna(global_NH3)

In [39]:
from sklearn.preprocessing import LabelEncoder

encoders = {}

for col in categorical_cols:
    le = LabelEncoder()
    
    le.fit(X_train[col])  # fit only on train
    
    X_train[col] = le.transform(X_train[col])
    X_test[col]  = le.transform(X_test[col])  # apply same encoder
    
    encoders[col] = le

In [40]:
X_train

,StationId,State,Year,Month,Day,Season,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene
6963,11,4,2020,2,18,7,125.08,287.720,127.03,109.80,165.46,42.09,2.72,9.13,28.84,3.87,11.77
82541,100,19,2018,11,24,2,114.06,110.030,2.70,10.02,4.84,36.88,4.18,8.81,39.06,0.39,0.36
65221,84,16,2019,12,11,7,104.32,195.070,38.55,70.82,67.92,41.61,1.02,10.49,39.61,6.49,20.54
70177,89,18,2018,6,21,4,8.73,29.970,0.40,43.52,22.95,5.95,1.38,3.14,11.60,0.00,0.63
44745,52,7,2018,6,4,0,56.15,144.270,15.56,8.46,28.18,7.66,0.42,77.53,14.86,1.38,5.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6265,11,4,2018,1,11,7,198.71,405.830,82.33,105.61,0.00,86.28,4.29,23.15,19.34,6.12,11.00
54886,62,8,2020,5,10,6,20.08,50.010,0.40,3.10,1.97,3.52,0.43,1.49,36.44,0.20,1.02
76820,95,17,2015,5,27,6,58.38,33.305,4.24,25.17,24.12,41.44,1.91,10.88,25.68,5.37,4.15
860,1,0,2016,7,30,4,29.12,77.050,8.21,30.77,21.10,15.58,0.89,26.82,41.79,4.09,6.99
15795,21,4,2018,11,17,2,103.06,280.230,15.40,54.87,41.51,51.39,1.10,11.81,30.88,1.38,5.32

In [41]:
X_test

,StationId,State,Year,Month,Day,Season,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene
0,37,4,2020,2,28,7,77.21,112.230,6.10,32.32,22.27,39.36,0.60,13.52,53.38,2.86,6.38
1,54,8,2019,5,29,6,37.46,66.580,5.37,4.76,10.12,12.16,1.01,2.92,58.82,1.17,1.76
2,0,0,2019,1,26,7,15.12,40.610,2.65,22.75,14.26,22.92,0.38,8.37,19.39,0.00,0.02
3,2,1,2019,8,16,0,22.78,67.250,11.27,13.33,32.79,7.37,0.51,11.79,15.86,21.63,5.32
4,60,8,2019,1,6,7,48.18,89.660,6.41,35.25,41.20,41.66,0.98,17.36,30.88,1.38,0.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17346,84,16,2018,12,24,7,59.11,146.570,25.89,52.28,48.06,20.56,1.06,16.96,36.26,1.05,3.06
17347,100,19,2019,2,10,7,44.00,110.030,8.52,26.92,20.18,40.11,0.85,7.35,44.92,0.23,0.24
17348,91,18,2020,5,12,6,53.98,94.130,2.39,51.96,29.59,8.59,0.64,3.53,18.51,0.00,0.02
17349,90,18,2015,11,2,1,69.48,105.885,1.77,1.21,2.98,12.14,0.93,3.51,33.43,0.86,8.14
17350,99,19,2016,8,30,0,46.05,110.030,18.56,34.22,28.18,24.98,1.31,0.90,9.61,0.46,5.32

In [42]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np
import pandas as pd


models = {
    "Random Forest": RandomForestRegressor(n_estimators=200, random_state=42),
    "Gradient Boosting": GradientBoostingRegressor()
}

results = []

for name, model in models.items():
    model.fit(X_train, y_train)
    preds = model.predict(X_test)
    
    mae = mean_absolute_error(y_test, preds)
    rmse = np.sqrt(mean_squared_error(y_test, preds))
    r2 = r2_score(y_test, preds)
    
    results.append([name, mae, rmse, r2])

results_df = pd.DataFrame(results, columns=["Model", "MAE", "RMSE", "R² Score"])
results_df

               Model        MAE       RMSE  R² Score
0      Random Forest  20.071807  36.367396  0.928099
1  Gradient Boosting  23.375290  39.204996  0.916441